Pandas.merge()で結合 / `on`でキーとなるカラムを使うケース

`on = 結合条件とする列名(外部キー)` で結合OK。
```sql
SELECT * FROM `part` INNER JOIN `bio` ON `part`.`name` = `bio`.`name`
```
なイメージ

In [3]:
import pandas as pd

part = pd.DataFrame([
    ['YUKI', 'Vo'],
    ['TAKUYA', 'Gt'],
    ['ONDA', 'Ba'],
    ['KOUHTA', 'Dr'],
],
    columns=['name', 'part']
)

bio = pd.DataFrame([
    ['YUKI', 'Hokkaido'],
    ['KOUHTA', 'Kanagawa'],
    ['ONDA', 'Hyogo'],
    ['TAKUYA', 'Kyoto'],
],
    columns=['name', 'pref']
)

pd.merge(part, bio, on='name')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>part</th>
      <th>pref</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>YUKI</td>
      <td>Vo</td>
      <td>Hokkaido</td>
    </tr>
    <tr>
      <th>1</th>
      <td>TAKUYA</td>
      <td>Gt</td>
      <td>Kyoto</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ONDA</td>
      <td>Ba</td>
      <td>Hyogo</td>
    </tr>
    <tr>
      <th>3</th>
      <td>KOUHTA</td>
      <td>Dr</td>
      <td>Kanagawa</td>
    </tr>
  </tbody>
</table>
</div>