列ごとのデータをdictで渡してあげるパターン

こんな感じのデータ構造を渡してあげる

```
{
    A: [A1, A2, A3],
    B: [B1, B2, B3],
    C: [C1, C2, C3],
}
```

In [4]:
import pandas as pd

df = pd.DataFrame({
    'name': ['apple', 'banana', 'strawberry'],
    'color': ['red', 'yellow', 'pink'],
    'unit': [1, 5, 15]
},
    index=['ap', 'bn', 'st']
)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>name</th>
      <th>unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ap</th>
      <td>red</td>
      <td>apple</td>
      <td>1</td>
    </tr>
    <tr>
      <th>bn</th>
      <td>yellow</td>
      <td>banana</td>
      <td>5</td>
    </tr>
    <tr>
      <th>st</th>
      <td>pink</td>
      <td>strawberry</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>