「行ごとの値のリスト」の「リスト」を第1引数に渡してあげる

```
[
    [ A1, B1, C1],
    [ A2, B2, C2],
    [ A3, B3, C3],
]
```
みたいなイメージ

In [4]:
import pandas as pd

df = pd.DataFrame([
    ['apple', 'red', 1],
    ['banana', 'yellow', 5],
    ['strawberry', 'pink', 15]
])
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>apple</td>
      <td>red</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>banana</td>
      <td>yellow</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>strawberry</td>
      <td>pink</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>