`at[行名, 列名]`でアクセスOK

In [5]:
import pandas as pd

df = pd.DataFrame({
    'name': ['apple', 'banana', 'strawberry'],
    'color': ['red', 'yellow', 'pink'],
    'unit': [1, 5, 15]
},
    index=['ap', 'bn', 'st']
)
df.at['st', 'color']

'pink'

そのまま代入OK

In [6]:
df.at['st', 'color'] = 'strawberry-pink'
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>color</th>
      <th>name</th>
      <th>unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ap</th>
      <td>red</td>
      <td>apple</td>
      <td>1</td>
    </tr>
    <tr>
      <th>bn</th>
      <td>yellow</td>
      <td>banana</td>
      <td>5</td>
    </tr>
    <tr>
      <th>st</th>
      <td>strawberry-pink</td>
      <td>strawberry</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>