名前付きパラメータ `columns`に、左端からの列名をリストで渡してあげる！

In [2]:
import pandas as pd

df = pd.DataFrame([
    ['apple', 'red', 1],
    ['banana', 'yellow', 5],
    ['strawberry', 'pink', 15]
],
    columns=['name', 'color', 'unit'],
)

df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>color</th>
      <th>unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>apple</td>
      <td>red</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>banana</td>
      <td>yellow</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>strawberry</td>
      <td>pink</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>